<% @user.each do |user| %>
<%= form_for(user.profile,  :role => "form", html: { method: :put }, url: update_path, id: 'edit_profile_{@user.profile.id}') do |f| %>


    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %><br>
      <%= image_tag(user.profile.avatar_url(:avatar)) if user.profile.avatar? %>
    </div>


    <div class="actions">
      <%= f.submit "Mettre à jour !" %>
    </div>

    <% end %>

<% end %>
<%= link_to 'Retourner a votre profile', profile_path %>